<div class="main-region">
  <header class="header-bar"><i class="logo"></i>
    <div class="menu-bar">
      <ul class="nav-list">
        <li><a href="">About</a></li>
        <li><a href="">Projects</a></li>
        <li><a href="">Blogs</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
  </header>
  <div class="main-container">
    <div class="line upper-line"></div>
    <div class="profile">
      <h1 class="profile-name">KAJAL CHAKOLE</h1>
      <h2 class="profile-role">WEB DEVELOPER</h2>
    </div>
    <div class="line bottom-line"></div>
    <div class="scroll-circle">
        <a href="" class="scroller">Scroll Down</a>
    </div>
  </div>
  
</div>